<div id='container' ng-controller:'LinksController'>
  <a href = "#/shorten"><button>shorten</button></a>
  <a href = "#/links"><button>links</button></a>

  <input type='search' ng-model='findLink'/>

  <div class='info' ng-repeat='urlData in data.links | orderBy: predicate | filter:findLink'>
    <div> - </div>
    <div class='visits'><span class='count'>Count: {{urlData.visits}}</span>Visits</div>
    <div class='title'>Title: {{urlData.title}}</div>
    <div class='original'>Url: {{urlData.url}}</div>
    <a href='{{urlData.base_url}}/api/links/{{urlData.code}}'>Cached: {{urlData.base_url}}/{{urlData.code}}</a>
  </div>
</div>
