<div id='signin' ng-controller="AuthController">
  <h1>signin</h1>
  <form name="signinForm" ng-submit="submitForm(signinForm.$valid, signin)" novalidate>
    <input type='text'ng-model='user.username' required ng-minlength="5" name="name">
    <label ng-show = "signinForm.name.$error.minlength">Username is too short.</label>
    <input type="password" ng-model='user.password' required ng-minlength="5" name="password">
    <label ng-show = "signinForm.password.$error.minlength">Username is too short.</label>
    <br>
    <button type="submit" ng-disabled="userForm.$invalid">signin</button>


  </form>

  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
